<div class="popup__wrap" data-test>
	<div class="popup">
		<div class="popup__form border__effect" data-test-window>
			<div class="popup__inner">
				<div class="form">
					{head}
					{content}
					<div class="form__footer">
						<div class="action__block"><a class="link-svg-arrow" data-test-next><span>следующий вопрос</span></a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="popup__success border__effect" data-test-onsucces>
			<div class="form" data-id="success"></div>
		</div>
		<div class="popup__success border__effect" data-test-onerror>
			<div class="form" data-id="error"></div>
		</div>
		<div class="popup__success border__effect is-active" data-test-validation>
			<div class="popup__inner">
				<div class="form">
					<div class="title__form">Выберите ваш возраст</div>
					<div class="form-column">
						<ul>
							<li><input type="radio" name="option" id="10_age"><label for="10_age">До 10</label></li>
							<li><input type="radio" name="option" id="11_age"><label for="11_age">11 - 17</label></li>
							<li><input type="radio" name="option" id="18_age"><label for="18_age">18 и более</label></li>
						</ul>
					</div>
					<a href="" class="btn__enroll btn__type-2" data-test-valid><span>Продолжить</span></a>
				</div>
			</div>
		</div>
		<div class="popup__form border__effect" data-test-writebig>
			<div class="popup__inner">
				<button class="popup__close" data-test-close>
					<i class="icon_close_svg">
						<svg viewBox="0 0 24 24" height="100%" class="close_icon" width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<path d="m0,4l4,-4l8,8l8,-8l4,4l-8,8l8,8l-4,4l-8,-8l-8,8l-4,-4l8,-8l-8,-8z"/>
						</svg>
					</i>
				</button>
				<div class="form">
					<div class="title__form">Запись на собеседование</div>
					<form action="" class="js-validate">
						<div class="row columns">
							<span class='field field-effect'>
								<input data-validation="required" type="text" class="input__field input__field-effect" autocomplete='off'>
								<label class="input__label input__label-effect">
									<span class="input__label-content input__label-content-effect">Имя</span>
								</label>
							</span>
							<span class='field field-effect'>
								<input data-validation="required" type="text" class="input__field input__field-effect" autocomplete='off'>
								<label class="input__label input__label-effect">
									<span class="input__label-content input__label-content-effect">Фамилия</span>
								</label>
							</span>
						</div>
						<div class="row columns">
							<span class='field field-effect'>
								<input data-validation="required" type="text" class="input__field input__field-effect" autocomplete='off'>
								<label class="input__label input__label-effect">
									<span class="input__label-content input__label-content-effect">Отчество</span>
								</label>
							</span>
							<span class='field field-effect'>
								<input data-validation-regexp="^[-0-9()+ ]+$" data-validation="custom" type="text" class="input__field input__field-effect js-input-tel" autocomplete='off'>
								<label class="input__label input__label-effect">
									<span class="input__label-content input__label-content-effect">Телефон</span>
								</label>
							</span>
						</div>
						<div class="row">
							<span class='field field-effect'>
								<textarea rows="1" cols="30" class="input__field input__field-effect"></textarea>
								<label class="input__label input__label-effect">
									<span class="input__label-content input__label-content-effect">Комментарий</span>
								</label>
							</span>
						</div>
						<div class="row">
							<div class="title__lvl-2">Контакты одного из родителей</div>
						</div>
						<div class="row columns">
							<span class='field field-effect'>
								<input data-validation="required" type="text" class="input__field input__field-effect" autocomplete='off'>
								<label class="input__label input__label-effect">
									<span class="input__label-content input__label-content-effect">Имя</span>
								</label>
							</span>
							<span class='field field-effect'>
								<input data-validation="required" type="text" class="input__field input__field-effect" autocomplete='off'>
								<label class="input__label input__label-effect">
									<span class="input__label-content input__label-content-effect">Фамилия</span>
								</label>
							</span>
						</div>
						<div class="row columns">
							<span class='field field-effect'>
								<input data-validation="required" type="text" class="input__field input__field-effect" autocomplete='off'>
								<label class="input__label input__label-effect">
									<span class="input__label-content input__label-content-effect">Отчество</span>
								</label>
							</span>
							<span class='field field-effect'>
								<input data-validation-regexp="^[-0-9()+ ]+$" data-validation="custom" type="text" class="input__field input__field-effect js-input-tel" autocomplete='off'>
								<label class="input__label input__label-effect">
									<span class="input__label-content input__label-content-effect">Телефон</span>
								</label>
							</span>
						</div>
						<div class="row">
							<button class="btn__type-2" type="submit"><span>Отправить</span></button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="popup__form border__effect" data-test-writesmall>
			<div class="popup__inner">
				<button class="popup__close" data-test-close>
					<i class="icon_close_svg">
						<svg viewBox="0 0 24 24" height="100%" class="close_icon" width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<path d="m0,4l4,-4l8,8l8,-8l4,4l-8,8l8,8l-4,4l-8,-8l-8,8l-4,-4l8,-8l-8,-8z"/>
						</svg>
					</i>
				</button>
				<div class="form">
					<div class="title__form">Запись на собеседование</div>
					<form action="" class="js-validate">
						<div class="row columns">
							<span class='field field-effect'>
								<input data-validation="required" type="text" class="input__field input__field-effect" autocomplete='off'>
								<label class="input__label input__label-effect">
									<span class="input__label-content input__label-content-effect">Имя</span>
								</label>
							</span>
							<span class='field field-effect'>
								<input data-validation="required" type="text" class="input__field input__field-effect" autocomplete='off'>
								<label class="input__label input__label-effect">
									<span class="input__label-content input__label-content-effect">Фамилия</span>
								</label>
							</span>
						</div>
						<div class="row columns">
							<span class='field field-effect'>
								<input data-validation="required" type="text" class="input__field input__field-effect" autocomplete='off'>
								<label class="input__label input__label-effect">
									<span class="input__label-content input__label-content-effect">Отчество</span>
								</label>
							</span>
							<span class='field field-effect'>
								<input data-validation-regexp="^[-0-9()+ ]+$" data-validation="custom" type="text" class="input__field input__field-effect js-input-tel" autocomplete='off'>
								<label class="input__label input__label-effect">
									<span class="input__label-content input__label-content-effect">Телефон</span>
								</label>
							</span>
						</div>
						<div class="row">
							<span class='field field-effect'>
								<textarea rows="1" cols="30" class="input__field input__field-effect"></textarea>
								<label class="input__label input__label-effect">
									<span class="input__label-content input__label-content-effect">Комментарий</span>
								</label>
							</span>
						</div>
						<div class="row">
							<button class="btn__type-2" type="submit"><span>Отправить</span></button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="popup__success border__effect" data-test-error>
			<div class="popup__inner">
				<button class="popup__close" data-test-close>
					<i class="icon_close_svg">
						<svg viewBox="0 0 24 24" height="100%" class="close_icon" width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<path d="m0,4l4,-4l8,8l8,-8l4,4l-8,8l8,8l-4,4l-8,-8l-8,8l-4,-4l8,-8l-8,-8z"/>
						</svg>
					</i>
				</button>
				<div class="form">
					<div class="title__form">Благодарим вас за проделанную работу!</div>
					<p>Ваш успешно записались на собеседование. Мы свяжемся с вами в ближайшее время!</p>
					<a href="/" class="popup__close" data-test-close><span>На главную</span></a>
				</div>
			</div>
		</div>
	</div>
</div>