@charset "UTF-8";
html, body {
	height: 100%;
}
* {
	margin: 0;
}
body {
	min-width: 320px;
}
*, *::after, *::before {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
a[data-href], a[data-scroll] {
	cursor: pointer;
}
ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
button {
	background-color: transparent;
	border: none;
	padding: 0;
	outline: none;
}
input {
	border: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	outline: none;
}
@mixin transition($name) {
	transition: $name 0.3s ease 0s;
}
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
@function transition-property-names($props) {
  $new-props: ();

  @each $prop in $props {
	$new-props: append($new-props, transition-property-name($prop), comma);
  }

  @return $new-props;
}
html {
	&.space {
		body {
			overflow: hidden;
			padding-right: 17px;
		}
		.header-outer {
			width: auto;
			right: 17px;
		}
	}
}
body {
	background-color: #eeeeee;
}

$link: #ff5a0f;
$link-hover: #f24c00;

.out {
	max-width: 1200px;
	margin: 0 auto -18.0625em; // 289px / 16px
	min-height: 100%;
	height: auto;
	background-color: #fff;
	.open {
		display: none;
		position: fixed;
		top: 20px;
		right: 50%;
		margin-right: -140px;
		z-index: 3;
		i {
			width: 40px;
			height: 28px;
			display: inline-block;
			svg {
				stroke: #ffffff;
			}
		}
	}
}
.push {
	height: 18.0625em; // 289px / 16px
}
.footer {
	height: 18.0625em; // 289px / 16px
	background-color: #222222;
	max-width: 1200px;
	margin: 0 auto;
	padding: 3.25em 8.75em; // 52px 140px / 16px
}
.header-outer {
	position: fixed;
	top: 0;left: 0;
	width: 100%;
	z-index: 5;
}
.header {
	max-width: 1200px;
	min-width: 320px;
	background-color: #fff;
	width: 100%;
	margin: 0 auto;
	padding: 1.625em 2.8125em 1.6875em; //26px 45px 27px / 16px
	//@include clearfix;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	align-content:center;
	position: relative;
	&::after {
		content: '';
		bottom: 0;
		left: 0;
		right: 0;
		box-shadow: 0 0 0.9375em #000; // 15px /16px 
		position: absolute;
		height: 0.0625em; // 1px / 16px
		z-index: -1;
	}
	.logo {
		background-image: url(../img/logo.png);
		width: 12.8125em;// 205px / 16px
		height: 1.875em;// 30px / 16px
		display: inline-block;
		background-size: contain;
	}
	.nav {
		text-align: center;
		li {
			display: inline-block;
			vertical-align: top;
			//margin-left: -0.389em; // 6.5px / 16px
			a {
				text-transform: uppercase;
				color: #2c2c2c;
				padding: 0 1.090909090909091em; // 12px / 11px
				letter-spacing: 0.2272727272727273em; // 2.5px / 11px
				@include transition(color);
				&:hover {
					color: $link-hover;
				}
			}
		}
	}	
	.phone__cover {
		width: 12.8125em;// 205px / 16px
		text-align: right;
		.phone {
			span {
				color: $link;
				letter-spacing: 0.0473684210526316em; // 0.9px / 18px
				display: inline-block;
				vertical-align: middle;
			}
			.icon__phone {				
				display: inline-block;
				width: 0.9375em; // 15px / 16px
				height: 0.9375em; // 15px / 16px
				margin-right: 0.5em; // 8px / 16px
				vertical-align: middle;
				svg {
					path {
						fill: $link;
					}
				}
			}
		}
	}
}
.preview {
	height: 44.8125em; //717px / 16px
	width: 100%;
	position: relative;
	.img__cover {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
		z-index: 1;
		&::after {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-color: #2e2e30;
			opacity: 0.4;
			z-index: 1;
			content: '';
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.preview__cover {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		padding: 6.5625em 5.8125em; // 105px 93px / 16px
		text-align: center;
		.eat__icon {
			display: inline-block;
			text-align: center;
			width: 4.876em; // 78px / 16px
			height: 4.876em; // 78px / 16px
			background-image: url(../img/eat.png);
			background-repeat: no-repeat;
			background-size: contain;
			margin-bottom: 1.5em; // 24px / 16px
		}
		.brand__text {
			display: none;
		}
		.preview__title {
			line-height: 1.209677419354839em; // 75px / 62px
			display: inline-block;
			color: #ffffff;
			margin-bottom: 0.6129032258064516em; //38px / 62px
		}
		.sub__title {
			color: #ffffff;
			max-width: 18.75em; // 450px / 24px
			margin: 0 auto;
			line-height: 1.5em; // 36px / 24px
			letter-spacing: 0.0316666666666667em; // 0.76px / 24px
		}
		.btn {
			position: absolute;
			bottom: 6.9375em; // 111px / 16px
			left: 50%;
			transform: translate3d(-50%,0,0);
			span {
				position: relative;
				letter-spacing: 0.2272727272727273em; //2.5px / 11px
				&::after {
					content: "";
					position: absolute;
					right: -3em; // 33px / 11px
					top: 0;
					background-image: url(../img/svg/arrow_right.svg);
					width: 0.727272em; // 8px / 11px
					height: 1.181818em; // 13px / 11px
					transform: translate3d(0, 0, 0);
					@include transition(transform);
				}
			}
			&:hover {
				span {
					&::after {
						transform: translate3d(0.5em, 0, 0);
					}
				}
			}
		}
	}
}
.btn {
	max-width: 11.875em; // 190px / 16px
	width: 100%;
	height: 2.625em; // 42px / 16px
	line-height: 2.5em; // 40px / 16px
	background-color: $link;
	text-align: center;
	display: inline-block;
	border-radius: 0.25em; // 4px / 16px
	@include transition(background-color)
	span {
		color: #ffffff;
		letter-spacing: 0.5px;
		text-transform: uppercase;

	}
	&:hover {
		background-color: $link-hover;
	}
	&:active {
		background-color: $link-hover;
	}
}
.how__section {
	background-color: #f7f7f9;
	padding: 3.43753em 0 3.125em; // 55px 0 50px / 16px
	text-align: center;
	.title {
		margin-bottom: 1em; // 36px / 36px
	}
	.work__list {
		margin-left: -1.75em; // 28px / 16px
		.work__item {
			max-width: 22.5625em; // 361px / 16px
			display: inline-block;
			vertical-align: top;
			margin-left: 1.75em; // 28px / 16px
			padding: 0 1.5625em; // 0 25px / 16px
			i[class*="icon_"] {
				margin: 0 auto 0.875em; // 14px / 16px
				display: inline-block;
			}
			.icon__select {
				width: 3.75em; // 60px / 16px
				height: 4.75em; // 76px / 16px
				background-image: url(../img/hand.png);
				background-repeat: no-repeat;
				background-size: contain;
			}
			.icon__delivery {
				width: 3.75em; // 60px / 16px
				height: 4.75em; // 76px / 16px
				background-image: url(../img/hand.png);
				background-repeat: no-repeat;
				background-size: contain;
			}
			.icon__cook {
				width: 3.75em; // 60px / 16px
				height: 4.75em; // 76px / 16px
				background-image: url(../img/hand.png);
				background-repeat: no-repeat;
				background-size: contain;
			}
			.title {
				color: #88ccc4;
				margin-bottom: 0.2333333333333333em; // 7px / 30px
				letter-spacing: 0.0216666666666667em;// 0.65px / 30px
			}
			.descr {
				color: #202020;
				line-height: 1.66667em; // 25px / 15px
			}
		}
	}
}
.carte__section {
	padding: 3.5625em 0 4.125em; // 57px 0 66px / 16px
	text-align: center;
	.title {
		margin-bottom: 0.0833333333333333em; // 3px / 36px
	}
	.time {
		margin-bottom: 1em; // 24px / 24px
		.icon__calendar {
			width: 1em; // 24px / 24px
			height: 1em; // 24px / 24px
			display: inline-block;
			vertical-align: middle;
			margin-left: -0.75em; // 18px / 24px
			svg {
				fill: $link;
			}
		}
		span {
			display: inline-block;
			vertical-align: middle;
			color: $link;
			position: relative;
			letter-spacing: 0.0125em; // 0.3px / 24px
			margin-left: 0.2083333333333333em; //5px / 24px
		}
	}
	.descr {
		max-width: 23.2em; // 348px / 15px
		margin: 0 auto;
		display: inline-block;
		margin-bottom: 2.533333333333333em; // 38px / 15px
		line-height: 1.533333333333333em; // 23px / 15px
		letter-spacing: 0.0186666666666667em; // 0.28px / 15px
	}
	.card__container {
		margin-left: -1.6875em; // 27px / 16px
		.card__item	{
			display: inline-block;
			vertical-align: top;
			margin-left: 1.625em; // 26px / 16px
			margin-bottom: 2.75em; // 44px / 16px
			max-width: 21.875em; // 350px / 16px
			position: relative;
			width: 100%;
			text-align: left;
			.cover {
				width: 100%;
				position: relative;
				height: 100%;
				min-height: 12.88888888888889em; // 232px / 18px
				background-color: #f7f7f9;
				margin-bottom: 1em; // 18px / 18px
				&.form-data {
					padding: 1.72222em; // 31px / 18px
					text-align: center; 
					.btn {
						max-width: 190px;
						height: 42px;
						line-height: 42px;
						span {
							position: relative;
							&::after {
								content: "";
								position: absolute;
								right: -3em; // 33px / 11px
								top: 0;
								background-image: url(../img/svg/arrow_right.svg);
								width: 0.727272em; // 8px / 11px
								height: 1.181818em; // 13px / 11px
								transform: translate3d(0, 0, 0);
								@include transition(transform);
							}
						}
						&:hover {
							span {
								&::after {
									transform: translate3d(0.5em, 0, 0);
								}
							}
						}
					}
				}
				.days {
					position: absolute;
					width: 3.8889em; // 70px / 18px
					height: 1.4444em; // 26px / 18px
					text-align: center;
					line-height: 1.4444em; // 26px / 18px
					border-radius: 0.2222em; // 4px / 18px
					color: #ffffff;
					background-color: #88ccc4;
					left: 0.8333em; // 15px / 18px
					top: 0.6667em; // 12px / 18px
					letter-spacing: 0.0655555555555556em; // 1.18px / 18px
				}
				img {
					width: 100%;
					display: block;
				}
			}
			.title {
				color: #202020;
				letter-spacing: 0.0070833333333333em; // 0.17px / 24px
				margin-bottom: 0.33333em; //8px / 24px
				@include transition(color);
			}
			.time {
				position: relative;
				color: #202020;
				padding-left: 1.6em; // 24px / 15px
				&::before {
					content: '';
					position: absolute;
					width: 1em; // 15px / 15px
					height: 1em; // 15px / 15px
					top: 0.1333333333333333em; // 2px / 15px
					display: inline-block;
					left: 0;
					background-image: url(../img/svg/clock.svg);
					background-size: contain;
					background-repeat: no-repeat;
				}
			}
			&:hover {
				.title {
					color: $link-hover;
				}
			}
		}
		.items {
			display: none;
		}
	}
}
.fancybox-close {
	width: 1.875em;// 30px / 16px
	height: 1.875em;// 30px / 16px
	right: -2.4375em; // 39px / 16px
	top: -2.4375em; // 39px / 16px
	path {
		fill: #ffffff;
	}
}
.fancybox-nav {
	path {
		fill: #ffffff;
	}
}
.fancybox-inner {
	.items {
		position: relative;
		max-width: 790px;
		width: 100%;
		background-color: #fff;
		padding: 1.875em 1.875em 3.75em; // 30px 30px 60px / 16px
		.cover {
			width: 100%;
			position: relative;
			.days {
				position: absolute;
				width: 3.8889em; // 70px / 18px
				height: 1.4444em; // 26px / 18px
				text-align: center;
				line-height: 1.4444em; // 26px / 18px
				border-radius: 0.2222em; // 4px / 18px
				color: #ffffff;
				background-color: #88ccc4;
				left: 0.8889em; // 16px / 18px
				top: 0.6667em; // 12px / 18px
			}
			img {
				width: 100%;
				display: block;
				margin-bottom: 1.75em; // 28px / 16px
			}
		}
		&::after {
			content: '';
			height: 100px;
			position: absolute;
			bottom: -100px;
			left: 0;
			width: 100%;
		}
		.title {
			line-height: 1.433333333333333em; // 43px / 30px
			margin-bottom: 0.43333em // 13px / 30px
		}
		.time {
			padding-left: 2.28571em; // 32px / 14px 
			letter-spacing: 0.0242em; // 0.34px / 14px
			margin-bottom: 3.5714em; // 50px / 14px
			position: relative;
			&::before {
				content: '';
				position: absolute;
				width: 1.071428571428571em; // 15px / 14px
				height: 1.071428571428571em; // 15px / 14px
				top: 0.1428571428571429em; // 2px / 14px
				display: inline-block;
				left: 0;
				background-image: url(../img/svg/clock.svg);
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
		.ingredient__list {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: flex-start;
			width: 100%;
			margin-bottom: 0.9375em; // 15px / 16px
			.ingredient__item {
				width: 7.5625em; // 121px / 16px
				text-align: center;
				margin-bottom: 2.125em; // 34px / 16px
				img {
					width: 3.9375em; // 63px / 16px
					height: 3.9375em; // 63px / 16px
					border-radius: 100%;
				}
				span {
					display: inline-block;
					width: 100%;
				}
			}
		}
		.bullet {
			width: 47.2%;
			display: inline-block;
			vertical-align: top;
		}
	}
}
.title-2 {
	color: #202020;
	letter-spacing: 0.0208333333333333em; // 0.5px / 24px
	margin-bottom: 1.333333333333333em; // 24px / 18px
}
.bullet {
	li {
		position: relative;
		color: #202020;
		padding-left: 1.5em; // 21px / 14px
		margin-bottom: 0.7142em;// 10px / 14px
		letter-spacing: 0.03571em; // 0.5px / 14px
		&::after {
			content: '';
			position: absolute;
			width: 0.4285em; // 6px / 14px
			height: 0.4285em; // 6px / 14px
			background-color: $link;
			border-radius: 100%;
			left: 0;
			top: 0.4285em; // 6px / 14px
		}
	}
}
.why__section {
	background-color: #e6faf7;
	padding: 3.4375em 0 2.0625em; // 55px 0 33px / 16px
	text-align: center;
	.title {
		margin-bottom: 0.527778em; // 19px / 36px
	}
	.descr {
		max-width: 25em; // 450px / 18px
		margin: 0 auto 3.6667em; // 66px / 18px
		line-height: 1.6667; // 30px / 18px
	}
	.why__list {
		margin-left: -1.75em; // 28px / 16px
		margin-bottom: -2.625em; // 42px / 16px
		.why__item {
			max-width: 21.875em; // 350px / 16px
			display: inline-block;
			vertical-align: top;
			margin-left: 1.75em; // 28px / 16px
			padding: 0 1.5625em; // 0 25px / 16px
			margin-bottom: 2.625em; // 42px / 16px
			i[class*="icon_"] {
				display: inline-block;
				position: relative;
			}
			.icon__fresh {
				width: 2.875em; // 46px / 16px
				height: 3em; // 48px / 16px
				background-image: url(../img/freshness.png);
				background-repeat: no-repeat;
				background-size: contain;
				margin-bottom: 1.1875em;// 19px / 16px
			}
			.icon__discont {
				width: 4.5em; // 72px / 16px
				height: 3.75em; // 60px / 16px
				background-image: url(../img/discount.png);
				background-repeat: no-repeat;
				background-size: contain;
				margin-bottom: 0.375em; // 6px / 16px
			}
			.icon__ships {
				width: 4.125em; // 66px / 16px
				height: 3.0625em; // 49px / 16px
				background-image: url(../img/shipping.png);
				background-repeat: no-repeat;
				background-size: contain;
				margin-bottom: 1.125em; // 18px / 16px
			}
			.icon__providers {
				width: 4em; // 64px / 16px
				height: 3.875em; // 62px / 16px
				background-image: url(../img/providers.png);
				background-repeat: no-repeat;
				background-size: contain;
				margin-bottom: 0.875em; // 14px / 16px
			}
			.icon__recipes {
				width: 2.5625em; // 41px / 16px
				height: 3.8125em; // 61px / 16px
				background-image: url(../img/recipes.png);
				background-repeat: no-repeat;
				background-size: contain;
				margin-bottom: 0.9375em; // 15px / 16px
			}
			.title {
				color: #202020;
				margin-bottom: 0.375em; // 9px / 24px
			}
			.descr {
				color: #202020;
				line-height: 1.66667em; // 25px / 15px
			}
		}
	}
}
.insta__section {
	padding: 2.25em 0 2.4375em; // 36px 0 39px / 16px
	text-align: center;
	@include clearfix;
	.insta__logo {
		width: 1.6875em; // 27px / 16px
		height: 1.6875em; // 27px / 16px
		background-image: url(../img/svg/instagram.svg);
		background-repeat: no-repeat;
		background-size: contain;
		display: inline-block;
		margin-bottom: 0.875em; //14px / 16px
	}
	.hash {		
		margin-bottom: 1.9375em; // 31px / 16px
		a {
			color: #838c8d;
			@include transition(color);
			&:hover {
				color: $link-hover;
			}
		}
	}
	.insta__container {
		//height: 257px;
		@include clearfix;
		margin-bottom: 2.125em; // 34px / 16px
		padding: 0 2em; //32px /16px
		width: 100%;
		#instafeed-mobile {
			display: none;
		}
		.insta {
			@include clearfix;
			min-height: 16.0625em; // 257px / 16px
			.photo-box {
				.image-wrap {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
				width: 8.875em; // 142px / 16px
				height: 8em; // 128px / 16px
				background-color: #eee;
				float: left;
				position: relative;
				a {
					position: relative;
					display: inline-block;
					width: 100%;
					height: 100%;
					img {
						width: 100%;
						position: relative;
						height: 100%;
						object-fit: cover;
					}
				}
				//outline: 1px solid #000;
				
			}
		} 
	}
	.btn__sync {
		width: 1.3125em; //21px / 16px
		height: 1.3125em; // 21px / 16px
		display: inline-block;
		background-image: url(../img/svg/sync.svg);
		background-repeat: no-repeat;
		background-size: contain;
		cursor: pointer;
		.svg__sync {
			path {
				fill: #a2d4ce;
				@include transition(fill);
			}
		}
		&:hover {
			.svg__sync {
				path {
					fill: $link-hover;
				}
			}
		}
	}
	.arrow__slider {
		text-align: center;
		display: inline-block;
		width: 100%;
		display: none;
		.arrows {
			padding: 10px 0;
			width: 50%;
			float: left;
			height: 50px; // 50px / 16px
			cursor: pointer;
			i {
				display: inline-block;
				width: 30px;
				height: 30px;
			}
		}
	}
}
.footer {
	.footer__row {
		text-align: center;
		//@include clearfix;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
		align-content:center;
		&:first-of-type {
			margin-bottom: 3.8125em; // 61px / 16px
		}
		.form {
			display: inline-block;
			width: 100%;
			span {
				color: #777777;
				text-transform: uppercase;
				display: inline-block;
				vertical-align: middle;
				letter-spacing: 0.2090909090909091em; // 2.3px / 11px 
			}
			.field__row {
				display: inline-block;
				vertical-align: middle;
				max-width: 14.125em; // 226px / 16px
				width: 100%;
				margin-left: 1.5625em; //25px / 16px
				position: relative;
				.input {
					width: 100%;
					height: 32px;
					background-color: #ffffff;
					padding: 0 2.9167em 0 1.0833em; // 0 35px 0 13px / 12px
					border-radius: 0.33333333333em; // 4px / 12px
				}
				.btn__send {
					width: 1.1875em; // 19px / 16px
					height: 0.875em; // 14px / 16px
					background-image: url(../img/svg/mail.svg);
					background-size: contain;
					background-repeat: no-repeat;
					position: absolute;
					top: 0.625em; // 10px / 16px
					right: 0.625em; // 10px / 16px
				}
			}
		}
		.footer__nav {
			width: 17.8125em; // 285px / 16px
			ul {
				margin-left: -1.25em; // 20px / 16px
				margin-bottom: -1.25em; // 20px / 16px
			}
			li {
				float: left;
				display: inline-block;
				margin-bottom: 0.625em; // 10px / 16px
				a {
					color: #777777;
					text-transform: uppercase;
					padding: 0 1.818181818181818em; // 20px / 11px
					letter-spacing: 0.2090909090909091em; // 2.3px / 11px
					@include transition(color);
					&:hover {
						color: $link-hover;
					}
				}
			}
		}
		.social {
			width: 17.8125em; // 285px / 16px
			text-align: right;
			user-select: none;
			a[class*='icon__'] {
				margin-right: 1.875em; // 30px / 16px
				display: inline-block;
				margin-left: -0.36em;
				&:last-child {
					margin-right: 0;
				}
			}
			.icon__fb {
				width: 15px;
				height: 15px;
				padding: 0 4px;
				path {
					fill: #ffffff;
					@include transition(fill);
				}
			}
			.icon__vk {
				width: 15px;
				height: 15px;
				padding: 0 1px;
				path {
					fill: #ffffff;
					@include transition(fill);
				}
			}
			.icon__insta {
				width: 16px;
				height: 16px;
				path {
					fill: #ffffff;
					@include transition(fill);
				}
			}
			a[class*='icon__']:hover {
				path {
					fill: $link-hover;
				}
			}
		}
		.footer__logo {
			overflow: hidden;
			text-align: center;
			a {
				width: 3.75em; // 60px / 16px
				height: 3.75em; // 60px / 16px
				display: inline-block;
				background-image: url(../img/eat.png);
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
	}
}
.popup__wrap {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	// width: 100%;
	// height: 100%;
	background-color: rgba(31, 31, 31, 0.62);
	overflow-y: auto;
	text-align: center;
	min-width: 320px;
	z-index: 25;
	&::before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 0;
		height: 100%;
	}
	&.is-visible {
		.popup {
			transform: translate3d(0,0,0);
			opacity: 1;
			visibility: visible;
		}
	}
}
.popup {
	max-width: 49.375em; // 790px / 16px
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	text-align: left;
	position: relative;
	padding: 1.875em; // 30px / 16px
	transform: translate3d(0, 5em,0);
	opacity: 0;
	transition: transform 0.1s ease, opacity 0.1s ease, visibility 0.1s ease;
	visibility: hidden;
	.popup__body {
		background-color: #ffffff;
		position: relative;
		padding: 2.625em 2.625em 7.0625em 2.625em; // 42px 42px 113px 42px / 16px
		.btn-next {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 7.0625em; //113px / 16px
			max-width: 100%;
			border-radius: 0;
			text-transform: uppercase;
			letter-spacing: 0.16875em; // 2.7px / 16px
			color: #ffffff;
			@include transition(background-color);
			.icon-arr {
				position: relative;
				display: inline-block;
				background-image: url(../img/svg/arrow_right.svg);
				width: .717171em;
				height: 1.181818em;
				vertical-align: middle;
				@include transition(transform);
				top: -0.125em; // 2px / 16px
				right: -1.25em; // 20px / 16px
			}
			&:hover {
				background-color: $link-hover;
				.icon-arr {
					transform: translate3d(0.5em, 0, 0);
				}
			}
		}
		.form__success {
			text-align: center;
			max-width: 24.6875em; // 395px / 16px
			margin: 1.0625em auto -0.4375em; // 17px 7px / 16px
			.title {
				color: #202020;
				margin-bottom: 1.8125em; //29px / 16px
			}
			p {
				color: #202020;
				line-height: 1.5em; // 24px / 16px
				margin-bottom: 3.125em; // 50px 16px
			}
			.sucess__close {
				color: #ff5a0f;
				border-bottom: 1px solid #ff5a0f;
				text-transform: uppercase;
			}
		}
	}
	.popup__close {
		width: 1.875em; // 30px / 16px
		height: 1.875em; // 30px / 16px
		display: inline-block;
		position: absolute;
		top: 0.75em; // 12px / 16px
		right: 0.9375em; // 15px / 16px
		cursor: pointer;
	}
	.select__price {
		width: 31.875em; // 510px 116px
		height: 6.3125em; // 101px / 16px
		background-color: #f7f7f9;
		margin: 0 auto 18px; /// 16px / 16px
		border-radius: 3.125em; // 50px 16px
		padding: 0.75em; // 13px / 16px
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		.col_50 {
			width: 50%;
			height: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			&:first-of-type {
				border-right: 1px solid #f0f0f0;
			}
			&.price {
				text-align: center;
				span {
					color: #ff5a0f;
				}
			}
		}
	}
}
.form__wrap {
	text-align: center;
	.tab__container {
		margin-bottom: 4.875em; // 78px / 16px
	}
	.nav__tab {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		li {
			width: 50%;
			text-align: center;
			a {
				color: #ff5a0f;
				border-bottom: 1px dashed #ff5a0f;
			}
			&.is-active {
				a {
					color: #202020;
					border-color: transparent;
				}
			}
		}
	}
	.tab__item {
		display: none;
		text-align: center;
		padding-top: 1.625em; // 26px / 16px
	}
	.steps {
		position: relative;
		+ .form {
			margin-top: 2.625em; // 26px / 16px
		}
		li {
			display: inline-block;
			width: 5.0625em; // 81px / 16px
			padding-left: 3.625em; // 58px / 16px
			position: relative;
			vertical-align: top;
			margin-left: -0.36em;
			&:first-child {
				width: 1.5em; // 24px / 13px
				padding-left: 0;
				&::before {
					display: none;
				}
			}
			&::before {
				background: #ebebeb;
				content: "";
				height: 0.0625em; // 1px / 16px
				left: 0.0625em;// 1px /16px
				position: absolute;
				top: 0.75em; // 12px /16px
				width: 3.625em; //58px / 16px
			}
			a {
				width: 1.846153846153846em; // 24px / 13px
				height: 1.846153846153846em; // 24px / 13px
				line-height: 1.692307692307692em; // 22px / 13px
				border-radius: 50%;
				text-align: center;
				color: #ebebeb;
				border: 1px solid #ebebeb;
				display: block;
			}
			&.is-active {
				&::before {
					background: #88ccc4;
				}
				a {
					color: #ffffff;
					border-color: #88ccc4;
					background-color: #88ccc4;
				}
			}
		}
	}
	.form {
		max-width: 33.8125em; // 541px / 16px
		margin: 3.125em auto 0; // 50px / 16px
		text-align: left;
		.row {
			@include clearfix;
			margin-bottom: 0.875em; // 14px / 16px
		}
		.field {
			display: inline-block;
			width: 100%;
			.field__title {
				color: #706f6f;
				width: 100%;
				display: inline-block;
				text-transform: uppercase;
				letter-spacing: 0.1em; // 1.6 / 16px
				margin-bottom: 0.625em; // 10px / 16px
			}
			.field__body {
				width: 100%;
				display: block;
				&.field-filled {
					.input {
						background-color: #ffffff;
					}
				}
				label.has-error {
					display: none!important;
				}
			}
			&.c-50 {
				width: 49.5%;
				max-width: 15.9375em; //255px  / 16px
				float: left;
				&:last-child {
					float: right;
				}
			}
			&.c-30 {
				width: 33.2%;
				max-width: 9.6875em; // 155px / 16px
				float: left;
				margin-left: 2.25em; // 36/ 16px
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					float: right;
					margin-left: 0;
				}
			}
			.input {
				display: block;
				width: 100%;
				height: 2.625em; // 42px / 16px
				border: 1px solid #eee; //#f7f7f9
				background-color: #eee; //#f7f7f9
				padding: 0 0.9375em; // 15px / 16px
				&.has-error {
					border-color: #ff9090;
					background-color: #fff5f5;
				}
				&.select {
					padding: 0;
				}
			}
			textarea.input {
				resize: none;
				outline: none;
				min-height: 59px;
				padding-top: 5px; 
			}
			.ms-parent {
				width: 100%!important;
				max-width: 255px!important;
				position: relative;
				vertical-align: middle;
				.ms-choice {
					display: block;
					width: 100%;
					height: 2.625em; // 42px / 16px
					line-height: 2.625em; // 42px / 16px
					border: 1px solid #f7f7f9;
					background-color: #f7f7f9;
					color: #202020;
					text-align: left;
					padding: 0;
					overflow: hidden;
					cursor: pointer;
					> span {
						position: absolute;
						top: 0;
						left: 0;
						right: 1.625em; // 26px / 16px
						white-space: nowrap;
						text-overflow: ellipsis;
						display: block;
						padding-left: 0.9375em; // 15px / 16px
						overflow: hidden;
						padding-right: 1.625em; // 26px / 16px;
					}
					> div {
						position: absolute;
						top: 0;
						right: 0;
						width: 1.625em; // 26px / 16px;
						height: 2.625em; // 42px / 16px
						&::after {
							position: absolute;
							content: '';
							width: 0.9375em; // 15px / 16px
							height: 0.9374em; // 15px / 16px
							background-image: url(../img/svg/clock.svg);
							background-repeat: no-repeat;
							background-size: contain;
							left: 0;
							top: 0.8125em; // 13px / 16px
						}
					}
				}
				.ms-drop {
					width: 100%;
					overflow: hidden;
					display: none;
					margin-top: 0.375em; // 6px / 16px
					padding-top: 0;
					position: absolute;
					z-index: 1000;
					background-color: #88ccc4;
					color: #ffffff;
					ul {
						overflow: auto;
						margin: 0;
						padding: 0 0 0.3125em 0; // 5px / 16px
						> li {
							display: list-item;
							position: relative;
							padding-right: 1.625em; // 26px / 16px;
							padding-left: 1em; //16px / 16px
							//padding: 0.625em 1.625em 0.625em 1em; // 10px 26px 10px 16px / 16px
							&.selected {
								&::after {
									position: absolute;
									content: '';
									width: 11px;
									height: 9px;
									background-image: url(../img/svg/check-input.svg);
									background-size: cover;
									background-repeat: no-repeat;
									right: 1em; // 16px / 16px
									top: 0.8125em; // 13px / 16px
								}
							}
							label {
								white-space: nowrap;
								display: block;
								font-weight: normal;
								padding: 0.625em 0 0.3125em; // 10px 0px 5px / 16px
								cursor: pointer;
								input[type="radio"] {
									opacity: 0;
									position: absolute;
								}
							}
						}
					}
				}
			}
			&.radio {
				.field__body {
					width: 49.5%;
					display: inline-block;
					vertical-align: top;
					span {
						color: #202020;
					}
					.radio__btn {
						user-select: none;
					}
					#card + span {
						position: relative;
						&::after {
							position: absolute;
							content: '';
							width: 7.5em; // 137px / 18px
							height: 1.944444444444444em; // 35px / 18px
							background-image: url(../img/assist.jpg);
							background-repeat: no-repeat;
							background-size: cover;
							left: 0;
							top: 1.944444444444444em; // 35px / 18px
						}
					}
				}
			}
		}
	}
	.title {
		margin-bottom: 0.7222222222222222em; // 36px / 36px
	}
}
.tab__menu {
	.tab__list {
		display: inline-block;
		width: 100%;
		li {
			width: 50%;
			float: left;
			text-align: center;
			a {
				color: #88ccc4;
				border-bottom: 0.125em dotted #88ccc4; // 3px / 24px
			}
			&.is-active {
				a {
					color: #000000;
					border-color: transparent;
				}
			}
			&.no-active {
				-ms-pointer-events: none;
				pointer-events: none;
			}
		}
	}
	.tab__menu-container {
		margin-bottom: 1.3125em; // 21px / 16px
		.tab-item {
			display: none;
			padding: 0.625em 0; // 10px / 16px
			label {
				position: relative;
				display: inline-block;
				width: 100%;
				text-align: center;
				margin-bottom: 0.1875em; // 3px / 16px
				cursor: pointer;
				input {
					position: absolute;
					top: 0;
					left: 0;
					user-select: none;
					opacity: 0;
					&[type=radio]:checked {
						& + span {
							&::before {
								display: block;
							}
						}
					}
				}
				span {
					position: relative;
					&::before {
						content: '';
						position: absolute;
						top: 50%;
						margin-top: -0.2222em; // 4px / 18px
						left: -1.1111em; // 20px / 18px
						width: 0.6111em; // 11px / 18px
						height: 0.5em; // 9px / 18px
						background-image: url(../img/svg/check.svg);
						background-size: cover;
						background-repeat: no-repeat;
						display: none;
					}

				}
			}
			&.no-active {
				-ms-pointer-events: none;
				pointer-events: none;
			}
		}
	}		
}
.popup {
	.check__person {
		width: 100%;
	}
	.tab__menu {
		padding: 0 2em; // 32px / 16px
		.tab__list {
			li {
				a {
					color: #88ccc4;
					border-bottom: 1px dotted #88ccc4;
					position: relative;
					&::before {
						content: '';
						position: absolute;
						top: 50%;
						margin-top: -0.2222em; // 4px / 18px
						left: -0.8333em; // 15px / 18px
						width: 0.6111em; // 11px / 18px
						height: 0.5em; // 9px / 18px
						background-image: url(../img/svg/check.svg);
						background-size: cover;
						background-repeat: no-repeat;
						display: none;
					}				
				}
				&.is-active {
					a {
						color: #202020;
						border-color: transparent;
						&::before {
							display: block;
						}
					}
				}
				&.no-active {
					a {
						opacity: 0.5;
					}
				}
			}
		}
		.tab__menu-container {
			margin-bottom: 0;
			.tab-item {
				padding: .625em 0 0;
				label {
					display: inline-block;
					vertical-align: middle;
					width: 48%;
					margin-bottom: 0;
					span {
						color: #88ccc4;
						border-bottom: 1px dotted #88ccc4;
					}
					input[type=radio] {
						&:checked {
							& + span {
								color: #202020;
								border-color: transparent;
							}
						}
						&:disabled {
							& + span {
								opacity: 0.5;
							}
						}
					}						
				}
			}
		}
	}
}
.mobile-navi {
	position: fixed;
	top: 0;
	left: 50%;
	bottom: 0;
	width: 320px;
	background-color: #222;
	z-index: 10;
	overflow: auto;
	transform: translate3d(-50%, 100%, 0);
	transition: transform 0.3s linear;
	padding: 20px 0;
	&.is-visible {
		transform: translate3d(-50%, 0, 0);
	}
	.navi-inner {
		text-align: center;
		.logo {
			background-image: url(../img/eat.png);
			width: 4.875em;// 205px / 16px
			height: 4.875em;// 30px / 16px
			display: inline-block;
			background-size: contain;
			margin-bottom: 40px;
			background-repeat: no-repeat;
		}
		.menu-list {
			margin-bottom: 20px;
			li {
				a {
					padding: 10px 0;
					display: inline-block;
					color: #fff;
					@include transition(color);
					&:hover {
						color: $link-hover;
					}
				}
			}
		}
		.mobile-phone {
			margin-bottom: 20px;
			a {
				color: $link;
			}
		}
		.btn {
			max-width: 210px;
			width: 100%;
			height: 3.625em;
			line-height: 3.5em;
			position: relative;
			span {
				position: relative;
				letter-spacing: 0.2272727272727273em; //2.5px / 11px
				&::after {
					content: "";
					position: absolute;
					right: -15px; // 33px / 11px
					top: 1px;
					background-image: url(../img/svg/arrow_right.svg);
					width: 0.727272em; // 8px / 11px
					height: 1.181818em; // 13px / 11px
					transform: translate3d(0, 0, 0);
					@include transition(transform);
				}
			}
			&:hover {
				span {
					&::after {
						transform: translate3d(5px, 0, 0);
					}
				}
			}
		}
	}
	.close {
		position: absolute;
		top: 20px;
		right: 20px;
		i {
			width: 30px;
			height: 30px;
			display: inline-block;
			svg {
				stroke: #ffffff;
			}
		}
	}
}
@media screen and (max-width: 1279px) {
	.out {
		max-width: 980px;
	}
	.header {
		max-width: 980px;
		.logo {
			height: 1.8128em; // 29px / 16px
		}
	}
	.footer {
		max-width: 980px;
		.footer__row {
			.form {
				.field__row {
					.btn__send {
						height: 0.885em;
					}
				}
			}
		}
	}
	.form__wrap {
		.steps {
			li {
				a {
					line-height: 1.8em;
				}
			}
		}
		.form {
			.field {
				.ms-parent {
					.ms-choice {
						> div{
							&::after {
								height: 0.97999em;
							}
						}
					}
				}
			}
		}
	}
	.carte__section {
		.card__container {
			.card__item {
				.time {
					&::before {
						width: 1.064em;
						height: 1.05em;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1023px) {
	html {
		&.space {
			body {
				padding-right: 0;
			}
		}
	}
	.header {
		display: none;
	}
	.out {
		max-width: 320px;
		.open {
			display: block;
		}
	}
	.footer {
		max-width: 320px;
		padding: 2.68402em 2.9em; // 35px  45px / 16px
		.footer__row {
			&:first-child {
				margin-bottom: 1.8125em;
			}
			.footer__nav {
				display: none;
			}
			.social {
				display: none;
			}
			.form {
				.field__row {
					margin-left: 0;
					.btn__send {
						top: .725em;
					}
				}
				span {
					margin-bottom: 1.6em;
				}
			}
			.footer__logo {
				margin: 0 auto;
			}
		}
	}
	.preview {
		height: 41.795em; // 545px / 16px
		.preview__cover {
			padding: 2.68402em 2.9em; // 35px  45px / 16px
			.brand__text {
				display: inline-block;
				width: 100%;
				text-align: center;
				color: #ffffff;
				margin-bottom: 0.8em;
			}
			.eat__icon {
				margin-bottom: 0;
			}
			.preview__title {
				line-height: 1.3em;
			}
			.btn {
				bottom: 4.1em;
				min-width: 14.4em;
				height: 3.25em;
				line-height: 3.3em;
			}
		}
	}
	.how__section {
		padding: 2em 0 3.125em;
		.work__list {
			margin-bottom: -6.65em;
			.work__item {
				margin-bottom: 6.65em;
				i[class*=icon_] {
					margin: 0 auto 1.9em;
				}
				.icon__select {
					width: 4.75em; // 60px / 16px
					height: 5.95em; // 76px / 16px
				}
				.icon__delivery {
					width: 4.75em; // 60px / 16px
					height: 5.95em; // 76px / 16px
				}
				.icon__cook {
					width: 4.75em; // 60px / 16px
					height: 5.95em; // 76px / 16px
				}
			}
		}
	}
	.carte__section {
		padding-bottom: 0;
	}
	.popup__wrap {
		padding: 20px;
		&::before {
			display: none;
		}
	}
	.insta__section {
		.insta__container {
			padding: 0;
			#instafeed-desktop {
				display: none;
			}
			#instafeed-mobile {
				display: block;
			}
		}
		.arrow__slider {
			display: inline-block;
		}
		.btn__sync {
			display: none;
		}		
	}
	.popup {
		padding: 0;
		max-width: 320px;
		.select__price {
			display: inline-block;
			width: 100%;
			height: auto;
			border-radius: 0.8em;
			.col_50 {
				width: 100%;
				&:first-of-type {
					border-right: none;
					border-bottom: 1px solid #f0f0f0;
					padding-bottom: 1em;
					margin-bottom: 0.7em;
				}
			}
		}
	}
	.form__wrap {
		.tab__container {
			margin-bottom: 1.875em;
		}
		.nav__tab {
			li {
				width: 100%;
			}
		}
		.form {
			   margin: 0.125em auto 0;
			.field{
				&.c-50 {
					width: 100%;
					max-width: 100%;
					&:first-of-type {
						margin-bottom: .875em;
					}
				}
				&.c-30 {
					width: 30.2%;
					margin-left: 0.95em;
				}
				&.radio {
					.field__body {
						width: 100%;
						margin-bottom: 1em;
						#card + span {
							margin-bottom: 2.8125em; // 45px / 16px
							display: inline-block;
						}
					}
				}
			}
		}
	}
	.fancybox-nav {
		width: 1.5em;
		display: none;
	}
	.fancybox-prev {
		left: -1.5em;
	}
	.fancybox-next {
		right: -1.5em;
	}
	.fancybox-close {
		right: 0;
	}
	.fancybox-inner .items::after {
		display: none;
	}
	.fancybox-inner .items .ingredient__list .ingredient__item {
		width: 33%;
	}
	.insta__section .insta__container .insta {
		.photo-box {
			width: 50%;
		}
		//height: 832px;
	}
}